<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/Karthikan.jpg">
        <p>This site was created by Karthik. It uses data from maobox.com and darksky.</p>
    </div>
    
    {{>footer}}
</body>

</html>